<%- include("partials/head.ejs", {Screen: 'Cadastrar' }); %>

    <body>
        <%- include("partials/navbar.ejs") %>
        <main class="form-body">
            <form action="/edit/<%= enquete.id %>" method="post" autocomplete="off">
                <h1>Editar</h1>
                <section class="enquete-data">
                    <input type="hidden" name="id">
                    <div>
                        <label for="title">Titulo</label>
                        <br>
                        <input type="text" name="titulo" value="<%= enquete.titulo %>" required>
                    </div>
                    <div>
                        <label for="inicio">Data Inicial</label>
                        <br>
                        <input type="date" name="inicio" value="<%= enquete.dt_inicio %>" required>
                    </div>
                    <div>
                        <label for="fim">Data Final</label>
                        <br>
                        <input type="date" name="fim" value="<%= enquete.dt_fim %>" required> 
                    </div>
                </section>
                <section class="button-box">
                    <input type="submit" value="Salvar" class="btn">
                </section>

            </form>

            <section class="pergunta-data">
                <% respostas.forEach((resposta, i) => { %>
                <form action="/edit/<%= enquete.id %>/<%= resposta.id %>" method="post" autocomplete="off">
                    <label for="resposta">Resposta <%= i +1 %> </label>
                    <br>
                    <input type="text" name="resposta" required value="<%= resposta.titulo %>">
                    <button> <img src="/img/icon_edit.png" width="10px"></button>
                </form>
                <% }) %>
            </section>

            <section class="enquete-data"> 
                <form action="/deleteE" method="post">
                    <button name="id" value="<%= enquete.id %>">Deletar</button>
                </form>
            </section>
</main>
    </body>


    <%- include("partials/footer.ejs") %>