<%- include("partials/head.ejs", {Screen: 'Enquetes'}); %>
<body>
<%- include("partials/navbar.ejs") %>    

<main class="Card-Box">
    <% enquetes.forEach(e => { %>

        <a class="Card-E <%= e.status %>" href="/<%= e.id %>">
            <h3><%= e.titulo %></h3> 
            <p><span class="subtitle">Inicio:</span> <%= e.dt_inicio %></p>
            <p><span class="subtitle">Fim:</span> <%= e.dt_fim %></p>
        </a>
    <% }) %>
</main>
</body>


<%- include("partials/footer.ejs") %>